@import "./github-markdown-dark.css";
@import "./theme.css";

.markdown-body ul {
  list-style-type: disc;
}

.markdown-body ol {
  list-style-type: decimal;
}

@font-face {
  font-family: 'Trajan Pro';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/trajan-pro.woff") format("woff");
}

.font-trojan-pro {
  margin-top: 4px;
  font-family: 'Trajan Pro';
}