.intro-view {
  >section.hero {
    position: relative;
    height  : 600px;

    >video {
      position  : absolute;
      top       : 0;
      left      : 0;
      width     : 100%;
      height    : 100%;
      object-fit: cover;
    }

    >.content {
      position  : absolute;
      top       : 0;
      left      : 0;
      right     : 0;
      bottom    : 0;
      background: rgba(0, 0, 0, 0.5);

      display        : flex;
      flex-direction : column;
      align-items    : center;
      justify-content: center;
      padding        : 0 20px;

      >h1 {
        font-size : 54px;
        text-align: center;

        @container (width <=@phone-width) {
          font-size: 40px;
        }
      }

      >p {
        margin-top: 16px;
        text-align: center;
      }

      >a.button {
        margin-top: 22px;
      }
    }
  }

  >section:not(.hero) {
    margin-top: 108px;

    >h2 {
      max-width    : 1128px;
      margin       : 0 auto;
      padding      : 0 20px;
      font-size    : 27px;
      margin-bottom: 34px;

      @container (width <=@phone-width) {
        font-size    : 23px;
        margin-bottom: 13.5px;
      }
    }

    >ul {
      display     : flex;
      padding-left: ~'max(20px, calc((100vw - 1088px) / 2))';

      >li {
        >a {
          display      : block;
          position     : relative;
          width        : 350px;
          height       : 470px;
          border-radius: 4.5px;
          overflow     : hidden;

          @container (width <=@phone-width) {
            width : 240px;
            height: 320px;
          }

          >video {
            position  : absolute;
            top       : 0;
            left      : 0;
            width     : 100%;
            height    : 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
          }

          &:hover {
            >video {
              transform: scale(1.05);
            }
          }

          >.content {
            position: absolute;
            top     : 0;
            left    : 0;
            width   : 100%;
            height  : 100%;
            padding : 18px;

            display       : flex;
            flex-direction: column;

            cursor     : pointer;
            user-select: none;

            >h3 {
              font-size: 13.5px;
              flex-grow: 1;
            }

            >p {
              line-height: 1.375;
            }
          }
        }
      }
    }
  }
}