.notice-view {
  max-width: 1048px;
  margin   : 88px auto;
  padding  : 0 20px;

  >header {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin-bottom : 68px;
    text-align    : center;

    >.date {
      font-size    : 15px;
      margin-bottom: 13px;
    }

    >h1 {
      font-size: 72px;

      @container (width <=@phone-width) {
        font-size: 48px;
      }
    }

    >h2 {
      max-width: 725px;
      margin   : 23px auto 0;
    }
  }

  >main {
    max-width: 1088px;
    margin   : 0 auto;

    display       : flex;
    flex-direction: column;
    gap           : 10px;

    >* {
      width : 100%;
      border: none;
    }

    >h1,
    >h2,
    >h3,
    >h4,
    >h5,
    >h6 {
      font-weight: normal;
    }

    >h2 {
      margin-top: 68px;
      font-size : 36px;
    }

    >h3 {
      margin-top: 45px;
      font-size : 27px;
    }

    @container (width <=@phone-width) {
      ul {
        padding-left: 20px;
      }
    }

    p {
      >a {
        color                : inherit;
        text-decoration      : underline;
        text-decoration-color: var(--link-underline-color);
        transition           : text-decoration-color 0.25s ease;

        &:hover {
          text-decoration-color: currentColor;
        }

        &[target="_blank"]::after {
          margin-left   : 4px;
          content       : url("data:image/svg+xml,%3Csvg width='12px' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L9 1M9 1H2.5M9 1V7.22222' stroke='%23fff' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
        }
      }
    }

    >hr {
      margin-top      : 45px;
      margin-bottom   : 45px;
      background-color: #8c8c8c;
      height          : 1px;
    }

    >:not(:has(>img)) {
      max-width   : 725px;
      margin-left : auto;
      margin-right: auto;
    }

    >:has(>img) {
      margin-bottom: 97px;

      >img {
        border-radius: 8px;
      }
    }
  }
}